[submodule "nordvpn-bin"]
	path = nordvpn-bin
	url = https://aur.archlinux.org/nordvpn-bin.git
	ignore = untracked
[submodule "spotify"]
	path = spotify
	url = https://aur.archlinux.org/spotify.git
	ignore = untracked
[submodule "emacs-git"]
	path = emacs-git
	url = https://aur.archlinux.org/emacs-git.git
	ignore = untracked
[submodule "gitmux-git"]
	path = gitmux-git
	url = ssh://aur@aur.archlinux.org/gitmux-git.git
[submodule "sedspkgs"]
	path = sedspkgs
	url = git@gitlab.com:benmezger/sedspkgs
[submodule "shell-notes"]
	path = shell-notes
	url = ssh://aur@aur.archlinux.org/shell-notes.git
[submodule "paru"]
	path = paru
	url = https://aur.archlinux.org/paru.git
	ignore = untracked
