pkgbase = riscv-gnu-toolchain
	pkgdesc = GNU toolchain for RISC-V, including GCC
	pkgver = 20220225.nightly
	pkgrel = 1
	url = https://github.com/riscv-collab/riscv-gnu-toolchain
	arch = any
	license = GPL
	depends = zlib
	source = git+https://github.com/riscv-collab/riscv-gnu-toolchain.git
	md5sums = SKIP

pkgname = riscv-gnu-toolchain
