pkgbase = riscv32-elf-newlib
	pkgdesc = A C standard library implementation intended for use on embedded systems (RISCV32 bare metal)
	pkgver = 4.2.0.20211231
	pkgrel = 2
	url = https://www.sourceware.org/newlib/
	arch = any
	license = BSD
	makedepends = riscv32-elf-gcc
	options = !emptydirs
	options = !strip
	source = https://sourceware.org/pub/newlib/newlib-4.2.0.20211231.tar.gz
	sha256sums = c3a0e8b63bc3bef1aeee4ca3906b53b3b86c8d139867607369cb2915ffc54435

pkgname = riscv32-elf-newlib
